.back {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 10;
}
.modal {
  padding: 1rem;
  position: fixed;
  top: 20vh;
  left: 38%;
  max-height: 80vh;
  min-width: 20%;
  background: white;
  border-radius: 5px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  overflow: auto;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
footer {
  margin-bottom: -0.8rem;
  justify-content: flex-end;
  display: flex;
}
footer button {
  cursor: pointer;
}
